body{
    height: 100vh;
    font-family: fantasy;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid;
    width: 300px;
    height: 400px;
}
input{
    height: 30px;
    text-align: center;
    color: red;
}
button{
    padding: 5px;
    margin-top: 10px;
    width: 130px;
}
@media(max-width: 625px){
    body{
        width: 40vh;
    }
    .container h1{
        text-align: center;
    }
}